.footer{
    z-index: -100;
    background-color: var(--footer_back_color);
    padding: 70px;
}

.container{
    max-width: 1170px;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.footer_col{
    width: 25%;
    padding: 0 15px;
}

.footer_col_h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 30px;
    position: relative;
    background-color: red;
}

.footer_col_h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer_col_ul_li:not(:last-child){
    margin-bottom: 10px;
}

.footer_col_ul_a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all .2s ease;
}

.footer_col_ul_a:hover{
    color: #ffffff;
    padding-left: 8px;
}

@media (max-width: 864px){
    .footer_col{
        width: 50%;
        margin-bottom: 30px;
    }
}

@media (max-width: 520px){
    .footer_col{
        width: 100%;
    }
}

