.footer{
    z-index: -100;
    background-color: var(--footer_back_color);
    font-weight: 100;
}

.separator{
    width: 100%;
    height: 100px;
    background-image: url("../public/imagenes/wave_footer.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    position: relative;
    top: -5px;
}

.footer_content_container{
    width: 100%;
    padding: 70px;
}

.container{
    max-width: 1170px;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
}

.footer_col{
    width: 25%;
    padding: 0 15px;
    text-align: center;
}

.footer_col_h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 30px;
    position: relative;
}

.footer_col_h4::before{
    content: '';
    position: absolute;
    left: calc(50% - 40px);
    bottom: -10px;
    background-color: var(--footer_separator_color);
    height: 2px;
    box-sizing: border-box;
    width: 80px;

}

.footer_col_ul_li:not(:last-child){
    margin-bottom: 10px;
}

.footer_col_ul_a{
    font-size: 16px;
    text-transform: capitalize;
    color: var(--footer_anchor_color);
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all .1s ease;

}

.footer_col_ul_a:hover{
    color: var(--footer_anchor_color);
    padding-left: 8px;
}

@media (max-width: 864px){
    .footer_col{
        width: 50%;
        margin-bottom: 30px;
    }
}

@media (max-width: 520px){
    .footer_col{
        width: 100%;
    }
}

@media (min-width: 1074px) {
    .separator{
        height: 150px;
    }
}

@media (min-width: 1662px){
    .separator{
        height: 200px;
    }
}

@media (min-width: 2229px){
    .separator{
        height: 240px;
    }
}

/* -------------------------------------------------------------------------------------- */

.signature_container{
    width: 100%;
}


.signature{
    display: flex;
    flex-direction: row;
    width: max-content;
    margin: 0 auto;
    height: max-content;
    padding-bottom: 10px;
}

.signature_name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 10px;
    color: var(--index_presentation_color);
    cursor: default;
}

.signature_content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    width: max-content;
    margin: 0 auto;
    height: 60px;
}

