@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: var(--body_background);
    font-family: 'Bree Serif', sans-serif;
    overflow: overlay;

}

a {
  color: inherit;
}

* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 100;
}


/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #039aff #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: transparent;
    }

  *::-webkit-scrollbar-thumb {
    background-color: #039aff;
    border-radius: 10px;
    border: 2px solid #ffffff;

  }

ul{
  list-style: none;
}

@media (max-width: 768px){
  body{
      padding-top: 0px;
  } 
}

:root{
  --header_back_color: rgb(246, 246, 246);
  --header_logo_color: rgb(100,100,100);
  --header_hover_color: rgb(3, 154, 255) ;
  --header_hover_alpha: rgba(3, 154, 255, 0.3);


  --footer_back_color: rgb(3, 154, 255);
  --footer_title_color: rgb(255,255,255);
  --footer_separator_color: rgb(255, 255, 255);
  --footer_anchor_color: rgb(250,250,250);


  --index_presentation_color: rgb(255,255,255);
  --index_pages_border_color: rgba(53, 30, 157, 0.75);
  --index_pages_background: rgb(3, 154, 255);
  --index_cards_back1: rgba(194,250,254,1);
  --index_cards_back2: rgba(0, 102, 170,1);
  --index_input_back: rgb(250,250,250);
  --index_form_back: rgb(255, 255, 255);
  

  --body_background: rgb(255, 255, 255);
}