.header{
    background-color: var(--header_back_color);
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    border-bottom: 1px solid rgb(220, 220, 220);
}

.nav{
    display: flex;
    justify-content: space-between;
    max-width: 1300px;
    margin: 0 auto;
    height: 80px;
}

.nav_link{
    color: var(--header_logo_color);
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 80px;

}

.logo{
    display: flex;
    font-size: 2em;
    font-weight: 200;
    padding: 0 12px;
    line-height: inherit;
    flex-wrap: nowrap;
    align-content: center;
    color: var(--header_hover_color);
    width: max-content;
    text-align: center;
}

.nav_menu{
    display: flex;
    margin-right: 40px;
    list-style: none;
}

.nav_menu_item{
    font-size: 18px;
    font-weight: 600;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;
}

.nav_menu_link{
    padding: 8px 12px;
    border-radius: 10%;
    transition: .1s ease;
    font-weight: 100;
}

.nav_menu_link:hover{
    color: var(--header_hover_color);
    box-shadow: 0px 4px 0 var(--header_hover_alpha);
    border-radius: none;
}

.toggle{
    background: none;
    border: none;
    padding: 0 10px;
    line-height: 80px;
    cursor: pointer;
    display: none;
}

.toggle_img{
    height: inherit;
    width: inherit;
}

@media (max-width: 864px){

    .header{
        height: 60px;
    }

    .nav{
        height: 60px;
    }

    .logo{
        font-size: 20px;
        padding: 0 0;
        line-height: 20px;
        text-align: center;
    }

    .nav_menu{
        flex-direction: column;
        align-items: center;
        margin: 0;
        background-color: var(--header_back_color);
        position: fixed;
        left: 0;
        top: 60px;
        width: 100%;
        padding: 20px 0;
        height: calc(100% - 60px);
        overflow-y: auto;
        left: 100%;
        transition: left 0.3s ease;
    }

    .nav_link{
        line-height: 60px;
        height: 60px;
    }

    .nav_menu_item{
        line-height: 70px;
    }

    .nav_menu_link:hover{
        background: none;
        color: #83c5f7;
    }

    .toggle{
        display: block;
        transition: .3s ease;
    }

    .nav_menu_visible{
        left: 0;
    }
}

