
.container_presentation{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    height: 100vh;

}

.content_container{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 100%;
    max-width: 2560px;
    margin: 0 auto auto auto;
    align-content: space-around; 
    /* background-color: var(--header_hover_color); */

    background: rgba(1, 51, 94, 1.0);
    background: -webkit-linear-gradient(top, rgba(1, 51, 94, 1.0), rgba(3, 155, 255, 1.0));
    background: -moz-linear-gradient(top, rgba(1, 51, 94, 1.0), rgba(3, 155, 255, 1.0));
    background: linear-gradient(to bottom, rgba(1, 51, 94, 1.0), rgba(3, 155, 255, 1.0));

    background-size: cover;
    background-repeat: no-repeat;
    padding: 0px 0px;
    height: calc(100vh - 100px);
    justify-content: center;
}

.inicial_text{
    font-size: 1.3em;
    padding: 20px 10px;
    color: var(--index_presentation_color);
    text-align: center;
}
.inicial_text strong{
    font-weight: 100;
}

.main_primary_title{
    padding: 20px 0;
    font-size: 3em;
    color: var(--index_presentation_color);
    text-align: center;
}

.main_primary_title strong{
    font-weight: 100;
}

.main_secondary_title{
    padding: 20px 10px;
    color: var(--index_presentation_color);
    font-size: 1.3em;
    text-align: center;
    font-weight: 100;
}

.button_contact{
    font-size: 1.5em;
    text-decoration: none;
    padding: 20px 40px;
    border: 2px solid white;
    border-radius: 10px;
    font-weight: 100;
    color: var(--index_presentation_color);
    transition: all .1s ease;
    text-align: center;
    background-color: rgb(0, 255, 115);
}

.button_contact:hover{
    opacity: 0.8;
}

/*----------------------------------------------------------------------------------*/

.title_contact{
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    align-items: center;
    font-size: 30px;
    color: var(--header_hover_color);
    text-align: center;
}

.container_secondary{
    width: 100%;
    height: auto;
    background-color: #FFFFFFFF;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    border-top: 2px solid var(--header_hover_color);
    padding-top: 20px;
}

.container_secondary_info{
    text-align: center;
    max-width: 1100px;
    color: var(--header_logo_color);
    padding: 0 10px;
}

.container_secondary_info h3{
    font-size: 3em;
    padding-bottom: 30px;
    color: var(--header_hover_color);
}

.container_secondary_info p {
    font-size: 1.4em;
    font-weight: 500;
    margin-bottom: 20px;
}

/*----------------------------------------------------------------------------------*/

@media (max-width: 528px){
    .main_primary_title{
        font-size: 2em;
    }

    .button_contact{
        padding: 15px 30px;
        font-size: 1em;
    }
}

@media (max-width: 351px){
    .main_primary_title{
        font-size: 1.5em;
    }

    .button_contact{
        padding: 12px 25px;
        font-size: 1em;
    }
}

@media (max-width: 267px){
    .main_primary_title{
        font-size: 1em;
    }
}

@media (max-width: 864px){
    .container_presentation{
        font-size: 1em;
        margin-top: 60px;
    }

}
