
.container_presentation{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    height: 600px;

}

.content_container{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto auto auto;
    align-content: space-around;
    background-image: url("../public/imagenes/3d-render-of-low-poly-plexus-design-network-communications.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 110px 0px;
}

.inicial_text{
    font-size: 1.3em;
    padding: 20px 0;
    color: var(--index_presentation_color);
}

.main_primary_title{
    padding: 20px 0;
    font-size: 3em;
    font-weight: 1000;
    color: var(--index_presentation_color);
}

.main_secondary_title{
    padding: 20px 0;
    color: var(--index_presentation_color);
    font-size: 1.3em;
}

.button_contact{
    font-size: 1.5em;
    text-decoration: none;
    padding: 20px 40px;
    background-color: var(--index_presentation_color);
    border-radius: 10px;
    opacity: 0.5; 
    font-weight: bold;
    color: var(--header_hover_color);
    transition: all .1s ease;
}

.button_contact:hover{
    opacity: 1;
}


/*---------------------------------------------------------------------------------*/
.experiences{
    display: flex;
    flex-direction: column;
}

.experiences_body{
    background-color: var(--header_hover_color);
    color: var(--index_presentation_color);
}

.experiences_title{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
    margin: 25px;
}

.experience_description{
    font-weight: 400;
    font-size: 15px;
    margin-top: 10px;
    text-align: center;
}

.experience{
    padding: 25px;
    max-width: 500px;
    margin: 0 auto;
}

@media (min-width: 864px){
    
    .experiences_title{
        font-size: 40px;
        margin: 35px 0;
    }
    
    .experience_description{
        font-size: 15px;
        margin-top: 10px;
        line-height: 1.3;
    }
    
    .experience{
        padding: 25px;
        max-width: 500px;
        margin: 0 ;
    }


    .experiences_grid{
        display: grid;
        grid-template-columns: 1fr 2px 1fr;
        padding: 70px;
        justify-content: center;
        max-width: 864px;
        margin: 0 auto;
    }

    /* .line{
        background-color: white;
    } */
}




/*----------------------------------------------------------------------------------*/

.description_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: auto;
    justify-items: center;
    align-items: center;
}
.description_text{
    font-size: 2em;
    padding: 10px 30px;
    background-color: var(--header_hover_color);
    color: var(--index_presentation_color);
    max-width: 1200px;
}

@media (max-width: 528px){
    .main_primary_title{
        font-size: 2em;
    }

    .button_contact{
        padding: 15px 30px;
        font-size: 1em;
    }
}

@media (max-width: 351px){
    .main_primary_title{
        font-size: 1.5em;
    }

    .button_contact{
        padding: 12px 25px;
        font-size: 1em;
    }
}

@media (max-width: 267px){
    .main_primary_title{
        font-size: 1em;
    }
}

@media (max-width: 864px){
    .container_presentation{
        font-size: 1em;
        margin-top: 60px;
    }

}