
.entry_container{
    width: 100%;
    margin-top: 80px;
}

@media (max-width: 864px){
    .entry_container{
        margin-top: 60px;
    }
}

.entry_content_container{
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 10px;

}

.entry_content_title{
    font-size: 3rem;
    color: var(--header_hover_color);
    margin-top: 50px;
    margin-bottom: 20px;
}
.entry_content_description{
    font-size: 1.7rem;
    color: var(--header_logo_color);
    border-radius: 10px;
}

/* ------------------------------------------------------------page info section------------------------------------------- */

.site_info_container{
    width: 100%;
    margin-top: 20px;
}

.site_info_content_container{
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.card_item{
    display: flex;
    flex-direction: column;
    place-content: center;
    place-self: center;
    background-color: var(--header_hover_color);
    font-size: 1.5rem;
    width: 250px;
    height: 200px;
    margin: 10px;
    border-radius: 30px;
    text-align: center;
    color: var(--index_presentation_color);
}
.card_item h5{
    margin: 0 5px;
    font-weight: 100;
    margin-bottom: 15px;
}


