/*-----------------------------------------Entry section---------------------------------------------------*/

.entry_container{
    margin-top: 100px;
    width: 100%;
}

.entry_content_container{
    display: flex;
    flex-direction: column;
    justify-items: center;
    text-align: center;
    max-width: 1300px;
    margin: 20px auto;
    padding: 0 20px;
}

.entry_content_title{
    font-size: 3rem;
    color: var(--header_hover_color);
    font-weight: lighter;
    margin-top: 50px;
    margin-bottom: 50px;

}

.entry_content_description{
    font-size: 25px;
    color: var(--header_logo_color);
    padding-top: 20px;

}

@media (max-width: 864px){
    .entry_container{
        margin-top: 80px;
    }

    .entry_content_title{
        font-size: 2.5rem;
    }
}

/*---------------------------------------basic pages section----------------------------------------------------*/

/*--------------------------------general styles*/

.basic_pages_container, 
.admin_sites_container{
    width: 100%;
}
.basic_pages_title_container,
.admin_sites_title_container{
    text-align: center;
    font-size: 2rem;
    color: var(--header_hover_color);
    margin-bottom: 30px;
    margin-top: 50px;
}
.basic_pages_content,
.admin_sites_content{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    max-width: 1300px;
    justify-content: space-evenly;
    margin: 0 auto;
}

.page_type_title{
    border-top: 1px solid blue;
    padding: 10px 0;
    color: var(--header_hover_color);
    font-size: 30px;
}

.page_type_description{
    padding: 0 5px 10px 5px;
}

.page_type_price{
    font-size: 40px;
    color: var(--header_hover_color);
    display: flex;
    flex-direction: column;
}

.aux_price_abreviation{
    position: absolute;
    font-size: 15px;
    bottom: 15px;
    left: -18px;
}

.aux_price{
    position: relative;
}

.aux_price_info{
    font-size: 15px;
    color: black;
}

.pages_view_more{
    display: flex;
    padding: 5px;
    color: var(--header_hover_color);
    border-radius: 10px;
    width: fit-content;
    height: auto;
    text-align: center;
    margin-bottom: 10px;
    transition: all .1s ease;
    font-size: 20px;
}

.pages_view_more:hover{
    transform: scale(1.2);
}

.card_holder{
    border: 1px solid var(--header_hover_color);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    border-radius: 30px;
    transition: all .2s ease;
}

.card_holder:hover{
    box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.75);
}

.basic_pages_card_container{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    margin: 15px;
}

.card_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.card_img_container{
    padding: 10px;
}

/*---------------------------------------------host info section------------------------------*/

.host_info_container{
    width: 100%;
}

.content_host_container{
    display: flex;
    flex-direction: column;
    justify-items: center;
    text-align: center;
    max-width: 1300px;
    margin: 20px auto;
    padding: 0 20px;
}

.content_host_title{
    font-size: 30px;
    font-weight: 100;
    color: var(--header_hover_color);
}

.content_host_description{
    font-size: 20px;
    padding: 30px 10px;
}